/*sides*/
html {
    background: #000;
}
/*body*/
body {
    background: #000;
    color: #00ff00;
    font-family: monospace;
    
    max-width: 800px;  
    margin: 40px auto;
    padding: 0 20px;
}

pre {
    font-size: 18px;
    line-height: 1.15;
}

.command-line {
    display: flex;
    align-items: center;
    gap: 8px;
}

/* links */
a {
    color: #00ff00; 
    text-decoration: underline;
}

a:hover {
    background-color: #00ff00;
    color: #000; 
    text-decoration: none;
}

.prompt {
    font-weight: bold;
}

#terminal-input {
    background: transparent;
    border: none;
    outline: none;
    color: #00ff00;
    font-family: monospace;
    font-size: 16px;
    flex: 1;
}

.log-entry {
    white-space: pre-wrap;
    font-size: 16px;
    margin-bottom: 8px;
}
